[Unit]
Description=Monitoring Service
After=network.target

[Service]
ExecStart=/usr/bin/dotnet /root/agent/monitoring-agent/MonitoringAgent/bin/Release/netcoreapp2.0/MonitoringAgent.dll 5000 daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
